.admin-space
  %h3
    Tour Catagories
  .list.tour-catagories
    - @catagories.each do |c|
      = render partial: 'catagory', locals: {catagory: c}
  .new
  = link_to 'new catagory', new_catagory_path, class: 'new-link', remote: true

  %h3
    Site Settings
  .list.site-settings
    .list-item.setting.col-lg-6.col-md-8.col-12
      Site Header
      %br
      = image_tag Image.first.file.url(:medium)
      .edit
      = link_to 'Change', edit_image_path(Image.first), remote: true, class: 'edit-link'
    - @settings.each do |s|
      = render partial: 'settings/setting', locals: {setting: s}