.page
  %h3.white= @catagory.name
  .introduction
    = @catagory.description

  .items
    - @plans.each do |p|
      .item.col-lg-4.col-md-6.col-12.pull-left
        .item-inner
          .item-image{style: "background-image: url(#{p.image.url(:medium)})"}
          .item-content
            %h3.item-heading
              = p.name
            .price
              = p.price
            .short-description
              = p.description
            .call
              = link_to 'Call us', "tel:#{setting('contact_number')}", class: 'btn btn-primary'
    .clearfix
  .photos
    - @catagory.photos.each do |p|
      .photo-container.col-lg-4.col-md-6.col-12.pull-left
        .thumbnail{   style: "background-image: url(#{image_path(p.image(:medium))})"   }
    .clearfix