.page
  .video-container.col-lg-6.col-md-9.col-12
    .youtube-video
      = raw setting('youtube_embed_code')
  .introduction
    = raw setting('site_introduction')

  .items
    - @catagories.each do |c|
      .item.col-lg-4.col-md-6.col-12.pull-left
        .item-inner
          .item-image{style: "background-image: url(#{c.image.url(:medium)})"}
          .item-content
            %h3.item-heading
              = c.name
            .price
              = c.price
            .short-description
              = c.short_description
            .view-more
              = link_to 'View details', catagory_path(c), class: 'btn btn-primary'
    .clearfix
